.global_search {
  background-color: rgba(var(--primary-color), 0.03);
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.global_search input {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 12px;
}
